@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    
 width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:#F5F8FF;
  height: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}
/* headaer start */
header{
  
    height: 698px;
    background-image: url('/images/Hero-bg.png');
    background-size: cover;
    background-position: center;   
}
.primary-color{
 color:#4E47FF;
}

.logo{
   font-size: 2rem;
    cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;

}
.logo:hover{
 transform: scale(1.9);
  color: #6661f4;
  opacity: 0.7;
    
}
nav{
   
    margin-top: 30px;
   margin-inline: 200px;
 
}
nav ul{
   display: flex;
   justify-content: space-between;
}
nav ul li  {
  list-style: none;
  margin-right: 40px;
  
}
nav ul li  a{
    text-decoration: none;
}

.btn{
    background-color: #4E47FF;
    padding: 12px 40px;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
     
}
/* btn hover a */
.btn:hover{
    transform: scale(1.1);
  background-color: #6661f4;
  opacity: 0.7;
    
}
/* hero or banner section text area */
.hero-containt{
 width: 905px;
 height: 270px;

  margin: 150px auto;
}
.text-containt{
    text-align: center;
    font-size: 2rem;
}
.banner-btn{
    display: block;
   margin: 0 auto;
   margin-top: 20px;
   
}
.dark-1{
    color: #252432;
}
/* header end */
/* main section start*/

.contanier{
    width: 1140px;
}
.flex-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.action-textarea{
    width: 517px;
    height: 203px;
    margin: auto 0px;
}
.action-textarea h3 {
   width: 400px;
   height: 50px;
   font-size: 3rem;
   margin-bottom: 40px;
}
.action-textarea p{
    width: 400px;
   height: 50px;
   margin-bottom: 20px;
}
.action-bacgroundimg{
    width: 403px;
    height: 328px;
}

.action-bacgroundimg img{
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 30px;
}

.dark-2{
    color: #252432;
   
}
/*   Productive Users section start  */
.productive{
 
  
    height: 360px;
    background-color: #E5E7FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1{
   text-align: center;
   margin-top: 50px;
   font-size: 2rem;
}
.user-active{
    width: 856px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}
.box-user{

    width: 180px;
    height: 150px;    
}
.box-user p{
    text-align: center;
       color: #252432;
       margin-top: -18px;
}
.user-h1{
    font-size: 5rem;
    color: #4E47FF;
}
/*   Productive Users section end  */

/* user review and card section style start */

.card{
       width: 367px;
       height: 243px;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
       border-radius: 10px;
       padding:20px 0px 0px 10px ;
       background-color: #ffff;
    
}
.review-box{
  
    margin-top: 40px;
}
.icon-star{
    width: 90px;
    height: 17px;
   margin: 10px 0px 30px 0px;
    background-image: url('../images/icon-star.png');
}
.review-owner-name-img{
    width: 200px;
    height: 60px;
    display: flex;
    margin-top: 15px;
}
.review-owner-name-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.margin-top{
    margin-top: 0px;
}
/* user review and card section style end */
/* Ready to focus better start  */
.focus-contanier{
    width: 1140px;
    background-color: white;
    height: 697px;
}
.focus-section{
    text-align: center;
    margin-top: 100px;
     line-height: 60px;
     

}
.focus-section h1{
    font-size: 3.2rem;
}
.back-imgcontanier{
    background-image: url('/images/wc-big.png');
    width: 840px;
    height: 365px;
    margin: 20px auto;
    border-radius: 30px;
}
/* Ready to focus better start  end*/
/* rigtside from section and leftsidetext contain start */
.lefright-contanier{
    width: 1140px;
    height: 632px;
}
.left-sidetext{
    width: 528px;
    height: 228px;
   
    display: flex;
    margin:auto 0px;
}
.left-sidetext h1{
    text-align: justify;
    font-size: 5rem;
}
.right-sidefrom{

        margin: auto auto;
}
.input{
    width: 497px;
    height: 102px;
}
.input input{
    width: 497px;
    height: 70px;
    background-color: #fff;
    border: 0.225px solid #D6DDED;
    border-radius: 10px;
    outline: none;
    padding-left: 25px;
}
.message-fled{
    width: 497px;
    height: 167px;
    
}
.message-fled textarea{
    width: 497px;
    height: 135px;
    background-color: #fff;
    border-radius: 10px;
    border: 0.225px solid #D6DDED;
    padding: 25px;
    outline: none;
}
textarea::placeholder{
    font-size: 1.1rem;
    font-weight: 400;
}
input[type='button']
{
    height: 62px;
    background-color: #4E47FF;
    color: white;
    font-size: 1.1rem;
}
label{
    font-size: 1.2rem;
    font-weight: 400;
}
input::placeholder{
    font-size: 1.1rem;
    font-weight: 600;
}
/* rigtside from section and leftsidetext contain end */
/* footer section start */
.footer{

    width: 531px;
    height: 320px;
  
    text-align: center;
    margin-top: 150px;

}
.footer ul{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;

    
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    margin-right: 20px;
    text-decoration: none;
}
.footer li a:hover{
    text-decoration: underline 4px;
    color: #4E47FF;

}
.footer-contanier{
    width: auto;
    height: 550px;
    background-color: #fff;
    margin-top: 100px;
}
.footer-title{
    font-size: 7rem;
    width: 330px;
    height: 151px;
   margin: 20px auto;
   color:#4E47FF ;
   cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.footer-title:hover{
     transform: scale(1.9);
  color: #6661f4;
  opacity: 0.7;
    
}
/* footer end */