@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    
 width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:#F5F8FF;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/* headaer start */
header{
  
    height: 698px;
    background-image: url('/images/Hero-bg.png');
    background-size: cover;
    background-position: center;
     
      
}
.primary-color{
 color:#4E47FF;
}

.logo{
   font-size: 2rem;

}
nav{
    width: 1140px;
    height: 151px;
    display: flex;
    
    margin-top: 30px;
    justify-content: space-between;
   margin-inline: 200px;
 
}
nav ul li   {
  list-style: none;
  margin-right: 40px;
  
}

.btn{
    background-color: #4E47FF;
    padding: 12px 40px;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    
}
/* hero or banner section text area */
.hero-containt{
 width: 905px;
 height: 270px;

  margin: 150px auto;
}
.text-containt{
    text-align: center;
    font-size: 2rem;
}
.banner-btn{
    display: block;
   margin: 0 auto;
   margin-top: 20px;
   
}
.dark-1{
    color: #252432;
}
/* header end */
/* main section start*/

.action-section{
    width: 1140px;
    height: 328px;
     
      display: flex;
      justify-content: space-between;
     
}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.action-textarea{
    width: 517px;
    height: 203px;
    margin: auto 0px;
    
    
}
.action-textarea h3 {
   width: 400px;
   height: 50px;
   font-size: 3rem;
  
   margin-bottom: 40px;
}
.action-textarea p{
    width: 400px;
   height: 50px;

   margin-bottom: 20px;
}
.action-bacgroundimg{
    width: 403px;
    height: 328px;
}

.action-bacgroundimg img{
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 30px;
}

.dark-2{
    color: #252432;
   
}
/*   Productive Users section start  */
.productive-contanier{
 
    width: 1140px;
    height: 360px;

    background-color: #E5E7FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1{
   text-align: center;
   margin-top: 50px;
   font-size: 2rem;
}
.user-active{
    width: 856px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}
.box-user{

    width: 180px;
    height: 150px;    
}
.box-user p{
    text-align: center;
       color: #252432;
       margin-top: -18px;
}
.user-h1{
    font-size: 5rem;
    color: #4E47FF;
}
